<footer class="footer">
  <div class="inner container">
    <div class="logo">
      <img src="/assets/images/logo-iset-tozeur.png" alt="ISET logo" class="footer-logo" />
      <div class="description">ISETT - Institut Supérieur des Etudes Technologiques de Tozeur</div>
    </div>

    <div class="groups">
      <div class="wrapper">
        <div class="title">About</div>
        <a class="link" href="#">Features</a>
        <a class="link" href="#">Pricing</a>
        <a class="link" href="#">Support</a>
        <a class="link" href="#">Forums</a>
      </div>
      <div class="wrapper">
        <div class="title">Project</div>
        <a class="link" href="#">Contribute</a>
        <a class="link" href="#">Media assets</a>
        <a class="link" href="#">Changelog</a>
        <a class="link" href="#">Releases</a>
      </div>
      <div class="wrapper">
        <div class="title">Community</div>
        <a class="link" href="#">Join Discord</a>
        <a class="link" href="#">Follow on Twitter</a>
        <a class="link" href="#">Email newsletter</a>
        <a class="link" href="#">GitHub discussions</a>
      </div>
    </div>
  </div>

  <div class="afterFooter container">
  <div class="copy">© {{ currentYear }} ISET Tozeur. All rights reserved.</div>
    <div class="social">
      <a class="social-icon" href="#" aria-label="Twitter">Twitter</a>
      <a class="social-icon" href="#" aria-label="Youtube">YouTube</a>
      <a class="social-icon" href="#" aria-label="Instagram">Instagram</a>
    </div>
  </div>
</footer>

